.card{
    padding: 25px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
   
}

.product-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 500px;
    height: 680px;

    padding: 20px;

    border: 1px solid #76B900;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;

}

.product-card-container:hover{
    box-shadow: #76B900 -5px 5px, #76B900 -10px 10px, #76B900 -7px 7px;
    transform: scale(1.01);
}


.product-name,
.product-price{

    color: #76B900;
    word-wrap: break-word;
    font-size: 16px;

}

.product-price{
    font-size: 20px;
}

.product-desc-title{
    color: #76B900;    
    font-size: 16px;

}

.product-title-container{
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.product-desc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.product-image{
    width: 300px;
    height: 300px;

    border: 3px solid #76B900;
    border-radius: 20px;

}

.add-product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#quantity{
    width: 30px;
    padding: 10px;
    margin: 7px;
    border: 1px solid #76B900;
    border-radius: 4px;
}

#add-btn{
    background-color: #76B900;
    color: white;
    padding: 10px;

    border: 1px solid white;
    border-radius: 16px;

    text-decoration: none;
    color: black;
    background: #76B900;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

#add-btn:hover{
    background-color: #76B900;
    color: whitesmoke;
    box-shadow: 0 5px 15px #76B900;
}

#increment,
#decrement{
    width: 30px;
    height: 30px;

    color: white;
    background-color: #76B900;
    border: 1px solid #76B900;
    border-radius: 6px;
    font-weight: 800;

}

