.cart-products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    margin-top: 50px;
    padding: 20px;
}

.cart-products-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    
   
    border: 2px solid #76B900;
    border-radius: 20px;

    width: 600px;
    padding: 10px;

    transition: all 0.3s ease-in-out;
}

.cart-products-container:hover{
    box-shadow: #76B900 -5px 5px, #76B900 -10px 10px, #76B900 -7px 7px;
    transform: scale(1.01);
}

.cart-product-name,
.cart-product-count,
.cart-total{
    color: #76B900;
}

.cart-product-image{
    width: 100px;
    height: 100px;
}

.cart-checkout-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 600px;
    height: 160px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 450px;

    color: #76B900;
    border: 2px solid #76B900;
    border-radius: 20px;
    box-shadow: #76B900 -5px 5px, #76B900 -10px 10px, #76B900 -7px 7px;
}

#checkout-btn{
    margin-top: 10px;
    padding: 6px;

    background-color: #76B900;
    border: 2px solid #76B900;
    border-radius: 12px;

    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

#checkout-btn:hover{
    background-color: #76B900;
    color: whitesmoke;
    box-shadow: 0 5px 15px #76B900;
}

.empty-cart-msg{
    margin-top: 50px;
    text-align: center;
    margin-right: 20px;
    color: #76B900;
}