p{
    color: #76B900;
}

.card{
    padding: 25px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
   
}

.loading-text,
.error-text{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 200px;
    color: #76B900;
}